// 全站設定
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  font-family: map-get($font-family, primary-zh), sans-serif;
  font-size: map-get($font-sizes, 2);
  line-height: map-get($line-heights, md);
  font-weight: map-get($font-weights, 400);
  //   -webkit-tap-highlight-color: transparent;
}
body {
  min-height: 100vh;
  color: map-get($themes-colors, normal);
  letter-spacing: $letter-spacing;
  background-color: map-get($themes-colors, primary);

}
img {
  max-width: 100%;
  display: block;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

