// color
$normal: #333333;
$primary: #ffd370;
$danger: #d87355;
$success: #74bca1;
$secondary: #9f9a91;
// $explanatory: #66c0db;
$light:#efefef;
$matte:#E5E5E5;
$pure-white:#ffffff;

$themes-colors: (
  normal: $normal,
  primary: $primary,
  danger: $danger,
  success: $success,
  secondary: $secondary,
  // explanatory: $explanatory,
  light:$light,
  matte:$matte,
  pure-white:$pure-white,
);

// media-breakpoint
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// grid
$gutter-width: 24px;
$gutter-half: calc($gutter-width/2);
$grid-num: 12;

$spacer--base: 16px;
$spacer: (
  1: $spacer--base * 0.25,//4
  2: $spacer--base *0.5,//8
  3: $spacer--base * 0.75,//12
  4: $spacer--base ,//16
  5: $spacer--base * 1.25,//20
  6: $spacer--base * 1.5,//24
  7: $spacer--base * 1.75,//28
  8: $spacer--base * 2,//32
);

// font
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;600;700&display=swap");

$font-family: (
  primary-zh: "Noto Sans TC",
  primary-en: "Baloo Tamma 2",
);

$font-sizes--base: 16px;
$font-sizes: (
  1: $font-sizes--base * 0.875, //14
  2: $font-sizes--base, //16
  3: $font-sizes--base * 1.25, //20
  4: $font-sizes--base * 1.5,//24
  5: $font-sizes--base * 2, //32
);
$font-weights: (
  400: 400,
  500: 500,
  600: 600,
  700: 700,
);
$line-heights: (
  sm: 1,
  md: 1.5,
  lg: 2,
);
$letter-spacing: 0.07em;

// other
$logo--lg : url("/assets/logo_lg.png");
$logo--sm : url("/assets/logo_sm.png");
$media-md__bg-img: linear-gradient(172.7deg, $primary 5.12%, $primary 53.33%, $primary 53.44%, $pure-white 53.45%, $pure-white 94.32%);
$border-radius--base:10px;
$icon-edit : url("/assets/icon--edit.png");
$icon-delete: url("/assets/icon--delete.svg");